@charset "UTF-8";

@font-face {
    font-family: 'Pokemon';
    src: url('../fonts/fonte-pokemon.otf') format('opentype');
}

body {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 2%;
    align-content: center;

}

h1 {
    font-family: 'Pokemon';
    font-size: 1.5em;
    color: #245FBF;
}

#pokemontxt {
    animation: bounceIn 2s;

    position: relative;
}

.p {transform: translate(620%, -330%) rotate(-10deg); position: absolute;}
.o {transform: translate(770%, -330%) rotate(-9deg); position: absolute;}
.k {transform: translate(810%, -338%) rotate(-6deg); position: absolute;}
.e {transform: translate(1050%, -338%) rotate(0deg); position: absolute;}
.m {transform: translate(850%, -338%) rotate(6deg); position: absolute;}
.o1 {transform: translate(1356%, -338%) rotate(9deg); position: absolute;}
.n {transform: translate(1660%, -383%) rotate(10deg); position: absolute; font-size: 1.2em;}

.baterry {
    position: absolute;
    width: 20px;
    height: 10px;
    bottom: 97%;
    left: 90%;
    text-align: center;
    background-color: #1a3f24;
    color: #df716c;
    border-radius:50% 50%;
    box-shadow: 2px 1px 5px rgb(0, 0, 0);
    border-color: 1px 1px 1px #ffffff;
}

.baterry:focus {
    background-color: #48AE64;
}

main.gba {
    position: relative;
    background-color: #FBC11B;
    height: 537px;
    width: 288px;
    left: 50%;
    border-radius: 10px 10px 30px 40px;
    transform: translate(-50%);
}

div.gbabody {
    position: relative;
    background-image: linear-gradient(to right, #FBC11B, #fdd361 );
    height: 537px;
    width: 50px;
    left: 238px;
    border-radius: 0px 10px 30px 0px;
}

section.tela {
    animation: bounceIn 2s;
    position: absolute;
    background-image: linear-gradient(to right, #10151E, #242e41) ;
    border-radius: 20px;
    width: 249px;
    height: 249px;
    left: 7%;
    bottom: 50%;
}

#pokeball {
    animation: pokeBallShow 4s;
    position: absolute;
    background-color: #cf352d;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 40%;
    left: 44%;
}

#pokeballWhitePoint {
    animation: pokeBallShow 4s;
    position: absolute;
    background-color: #dad6d6;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 44%;
    left: 47.5%;
    border: 2px solid black;

}

#pokeballLine {
    animation: pokeBallShow 4s;
    position: absolute;
    background-color: black;
    width: 30px;
    height: 2px;
    top: 46%;
    left: 44%;

}

.btnright {
    position: absolute;
    bottom: 35%;
    left: 80%;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #F43D34;
    color: #df716c;
    border-radius:50% 50%;
    box-shadow: 2px 1px 5px rgb(0, 0, 0);
    border-color: 1px 1px 1px #ffffff;
}

.btnleft {
    position: absolute;
    bottom: 32%;
    left: 62%;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #48AE64;
    color: #61ca7d;
    border-radius:50% 50%;
    box-shadow: 2px 1px 5px rgb(0, 0, 0);
    border-color: 1px 1px 1px #ffffff;
}

.btnmidler {
    position: absolute;
    width: 30px;
    height: 15px;
    bottom: 18%;
    left: 52%;
    text-align: center;
    background-color: #3A322E;
    color: #61ca7d;
    border-radius:50% 50%;
    box-shadow: 2px 1px 5px rgb(0, 0, 0);
    border-color: 1px 1px 1px #ffffff;
}

.btnmidlel {
    position: absolute;
    bottom: 0px;
    width: 30px;
    height: 15px;
    bottom: 18%;
    left: 33%;
    text-align: center;
    background-color: #3A322E;
    color: #61ca7d;
    border-radius:50% 50%;
    box-shadow: 2px 1px 5px rgb(0, 0, 0);
    border-color: 1px 1px 1px #ffffff;
}
.btntop {
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 36.7%;
    left: 15%;
    background-color: rgba(0, 33, 141, 0.884);
}

#arrowtop {
    position: absolute;
    bottom: 36.7%;
    left: 15%;    
}

.btnr {
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 32%;
    left: 23.8%;
    background-color: rgba(0, 33, 141, 0.884);
}

#arrowright {
    position: absolute;
    bottom: 32%;
    left: 24.8%;
}

.btnl {
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 32%;
    left: 6.3%;
    background-color: rgba(0, 33, 141, 0.884);
}

#arrowleft {
    position: absolute;
    bottom: 32%;
    left: 6.3%;
}


.btnbot {
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 27.3%;
    left: 15%;
    background-color: rgba(0, 33, 141, 0.884);
    text-align: center;
}

#arrowbot {
    position: absolute;
    bottom: 27.3%;
    left: 15%;
}



.btnmidle {
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 32%;
    left: 15%;
    background-color: rgba(0, 33, 141, 0.884);
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}

#circlemidle {
    position: absolute;
    bottom: 32%;
    left: 15%;
}

@keyframes textoPokemon {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    80% {
        transform: scale(1.5);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    80% {
        transform: scale(1.05);
        opacity: 1;
        border-radius: 5px;
    }

    100% {
        transform: scale(1);
        border-radius: 10px;
    }

    
}

@keyframes btnColorTransition {
    0% {
        background-color: #48AE64;

    }

    25% {
        background-color: #3e9756;
    }

    75% {
        background-color: #2e703f;
    }

    100% {
        background-color: #1a3d22;
    }
}

@keyframes pokeBallShow {
    0% {
        transform: scale(0.0);
        opacity: 0;
    }
    5% {
        transform: scale(0.1);
        opacity: 1;
    }

    10% {
        transform: scale(0.2);
        opacity: 1;
    }

    15% {
        transform: scale(0.3);
        opacity: 1;
    }

    20% {
        transform: scale(0.4);
        opacity: 1;
    }

    25% {
        transform: scale(0.5);
        opacity: 1;
    }

    30% {
        transform: scale(0.6);
        opacity: 1;
    }

    35% {
        transform: scale(0.7);
        opacity: 1;
    }

    40% {
        transform: scale(0.8);
        opacity: 1;
    }

    45% {
        transform: scale(0.9);
        opacity: 1;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }
    
    55% {
        transform: scale(1.5);
        opacity: 0;
    }
    
    60% {
        transform: scale(1.4);
        opacity: 1;
    }
    
    65% {
        transform: scale(1.3);
        opacity: 1;
    }
    
    70% {
        transform: scale(1.2);
        opacity: 1;
    }

    75% {
        transform: scale(1.3);
    }

    80% {
        transform: scale(1.5);
        opacity: 1;
        border-radius: 5px;
    }

    85% {
        transform: scale(1.4);
        opacity: 1;
        border-radius: 5px;

    }
    90% {
        transform: scale(1.3);
        opacity: 1;
        border-radius: 5px;

    }

    95% {
        transform: scale(1.2);
        opacity: 1;
        border-radius: 5px;

    }

    96% {
        transform: scale(1.1);
        border-radius: 10px;

    }

    96% {
        transform: scale(1) rotate(-30deg);
        border-radius: 10px;
    }

    97% {
        transform: scale(1) rotate(30deg);
        border-radius: 10px;
    }

    99% {
        transform: scale(1) rotate(-15deg);
        border-radius: 10px;
    }

    100% {
        transform: scale(1) rotate(15deg);
        border-radius: 10px;
    }

}